/* * {
  outline: dashed 2px green;
} */
body {
  background-color: grey;
  margin: 0 auto;
}

main {
  background-color: aqua;
  margin: 10px;
}

article {
  background-color: aqua;
  margin: 10px;
}


strong {
  font-weight: bold;
}

p {
  text-align: center;
  font-size: 16px;
}

.headers {
  color: blue;
  font-size: 40px;
  text-align: center;
}

.headers2 {
  color: blue;
  font-size: 40px;
  text-align: center;
}

header {
  border: 10px solid blue;
  border-radius: 15px;
  height: 50px;
  background-color: black;
  margin-bottom: 10px;
}

nav ul {
  margin-top: 18px;
}

ul li {
  display: inline;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 10px;
}


a {
  text-decoration: none;
}

footer {
  background-color: lightblue;
  height: 45px;
  margin-top: 640px;
  border-radius: 15px;

}

h3 {
  color: blue;
  font-size: 20px;
  margin: auto;

}

#style1 {
  background-color: orange;
  font-size: 55px;

}

.more-styles {
  background-color: purple;

}









/* unvisited link */
a:link {
  color: aqua;
}

/* visited link */
a:visited {
  color: aqua;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
}